node_modules
dist
.env
.DS_Store
coverage
.turbo
tmpclaude-*

# Package manager
package-lock.json

# Project Specific
infra/osrm-data/
*.log
scripts/dynamic-config.json

# Editor Specific
.vscode/
.idea/
*.swp
*.swo
apps/admin-dashboard/test-results/
apps/admin-dashboard/playwright-report/

# Deployment specific
.env.production
.env.demo
